[2021-12-17 19:42] nhcarrigan opened #1 "Launch Day ToDo"
Hey all,

Just a quick list of things to do on launch day 🙂

- [x] Transfer repository to freeCodeCamp org (will need Mrugesh to assist)
- [x] Make repository public
- [x] Figure out deployment approach (GitHub Pages, maybe?)
- [x] Set up DNS for developerquiz.org
- [x] Update README to be project specific (remove CRA boilerplate)
- [x] Community Health files (code of conduct, contributing, licens

[2021-12-22 19:13] jdwilkin4 commented on #1
Successful launch!

[2021-12-22 19:13] #1 closed

[2022-01-17 16:07] jdwilkin4 opened #14 "Adding JavaScript quiz questions"
[developerquiz.org](developerquiz.org) currently has over 600 quiz questions. We are looking to expand on the JavaScript questions and we encourage other developers to add their quiz questions to the site.

**Please note: we are only focusing on general JavaScript questions instead of library and framework specific questions.**

You can find the complete list of questions below.
https://github.com

[2022-01-17 16:53] jdwilkin4 opened #15 "Adding Python quiz questions"
[developerquiz.org](developerquiz.org) currently has over 600 quiz questions. We are looking to expand on the Python questions and we encourage other developers to add their quiz questions to the site.

**Please note: we are only focusing on general Python questions instead of library and framework specific questions.**

You can find the complete list of questions below.
https://github.com/freeCod

[2022-01-17 17:20] jdwilkin4 opened #16 "Adding Linux quiz questions"
[developerquiz.org](developerquiz.org) currently has over 600 quiz questions. We are looking to expand on the Linux questions and we encourage other developers to add their quiz questions to the site.

You can find the complete list of questions below.
https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/src/data/linux-quiz.ts

You can add your own questions to the top of that file.
**Ple

[2022-01-17 17:43] jdwilkin4 opened #17 "Adding SQL quiz questions"
[developerquiz.org](developerquiz.org) currently has over 600 quiz questions. We are looking to expand on the SQL questions and we encourage other developers to add their quiz questions to the site.

You can find the complete list of questions below.
https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/src/data/sql-quiz.ts

You can add your own questions to the top of that file.
**Please

[2022-01-18 16:17] ashutosh-mishra4 commented on #14
Hey, @jdwilkin4 Could you please assign this issue to me? I want to contribute to it this weekend.

[2022-01-18 16:25] jdwilkin4 commented on #14
Hi @ashutosh-mishra4 !
Any issue with the help wanted or good first issue labels are up for grabs.
Also, this particular issue will remain open so multiple developers can continually add their javascript questions over time.
Happy contributing!

[2022-01-22 09:03] jdwilkin4 opened #29 "Adding Computer Science Questions"
[developerquiz.org](developerquiz.org) currently has over 600 quiz questions. We are looking to expand on the Computer Science questions and we encourage other developers to add their quiz questions to the site.

You can find the complete list of questions below.
https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/src/data/general-cs-quiz.ts

You can add your own questions to the top of

[2022-01-22 10:29] Starboy-Sharma opened #30 "Need a database for Quiz questions. fullQuiz"
As we want to increase more quiz questions (Python, SQL, JS) our array size of fullQuiz started to increase. We are also performing shuffle on the array items later things start working slow. Right now we have all categories of questions in a single array. Later if we want to play a Quiz only for JS we can not do this because we do not have a property like language. (SQL, JS).

This is what I feel

[2022-01-22 11:39] jdwilkin4 commented on #30
Hi @Starboy-Sharma !

Thank you for your issue.

For the initial release, we just decided on the one array because we didn't have a whole lot of questions.
But the goal was always to have multiple categories once we beefed up the SQL, CS and IT sections.

That is something we are going to change and eventually the user can choose their category and number of questions.

[2022-01-22 14:55] Prathamesh-Shaniware commented on #14
Hey, I would like to contribute. Can you please assign this to me?

[2022-01-23 00:23] jdwilkin4 commented on #14
Hi @Prathamesh-Shaniware !

This issue isn't going to be assigned to anyone.
This issue will remain open for anyone who wants to contribute.
Any issue marked with Help wanted or Good first issue is up for grabs.

[2022-01-26 20:56] Still11 commented on #15
{
    Question: "We have a python list a = [1,2,3,4,5,6,7,8,9] what is the output of a[-1:-5:-1]?",
    Answer: "[9, 8, 7, 6]",
    Distractor1: "[9, 8, 7, 6, 5]",
    Distractor2: "[4, 3, 2, 1]",
    Distractor3: "[1, 2, 3, 4]",
    Explanation: "The slicing syntax for the list is [a:b:c]. Here a and b are start and end indexes. The ‘c’ is the step value.",
    Link: "https://www.freecodecamp.org

[2022-01-26 22:28] jdwilkin4 commented on #15
Hi @Still11 !

If you are interested in contributing a quiz question, then please create a PR.
https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request
Thanks!

[2022-04-15 19:06] Kas1680 commented on #29
Is this repo still active?

[2022-04-15 20:40] jdwilkin4 commented on #29
Yes it is

[2022-05-20 17:28] a2937 opened #61 "Enhancement: Typescript conversion"
**Describe the bug**
In the editor, not every property is defined and generally using Typescript reduces the amount of bugs
in the code. This will make minor problems like the button component not having every property defined disappear
as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'src/components/HeroSelection.jsx'
2. See error on the component

**Expected behavior**
For th

[2022-05-20 18:02] jdwilkin4 commented on #61
Hi @a2937 !

You are free to work on this TypeScript conversion.

[2022-06-03 22:57] a2937 commented on #29
Can a question like what the HTML abbreviation stands for be added to the pool of questions?

[2022-06-03 23:04] a2937 commented on #16
Can questions regarding with what XWindows and GNOME are be added to the question pool? Like XWindows being the  and GNOME being a popular desktop option for Linux flavors.
Sources:
https://www.x.org/wiki/guide/concepts/
https://www.gnome.org/

[2022-06-05 15:27] jdwilkin4 commented on #29
@a2937
I ran a search in the `full-quiz.ts` and there is already a question for the abbreviation of HTML on line 6566.

But the question should be modified because the current answer says
Answer: "Hyper Text Markup Language",

But it should say
Answer: "HyperText Markup Language",

But in general, it is always best to check the list of questions first to see if it exists so we don't create duplica

[2022-06-05 15:32] jdwilkin4 commented on #16
@a2937
Sure, that would fine

[2022-06-05 20:37] a2937 opened #69 "Enhancement: Categories"
**Describe the bug**
Categories would be absolutely amazing to add for the question set. Each question can have one more or category.

**Expected behavior**
Before you reach the question amount screen, you get to select the category (or categories) that
questions will be drawn from. Each category is toggle-able and there is two buttons. One for all and one for none.
You cannot proceed without sett

[2022-06-06 14:54] jdwilkin4 commented on #69
The issue we face with the categories is the categories are not evenly matched in the amount of questions.
Some categories like html and css have hundreds of questions while other have as little as 10 like the cs section.
That is why we have these open issues in hopes to beef up the category questions.
The community has added some questions to JS section but we are still really light in other area

[2022-06-17 05:20] #69 closed

[2022-06-17 05:20] #30 closed

[2022-07-01 20:53] erictleung opened #73 "Standardize prefix of questions with language context"
Great work with this project and making it really accessible to quickly test your programming knowledge on the fly.

One thing I noticed is given that now there are multiple languages being quizzed, it can sometimes be ambiguous as to what language is being tested on.

For example, I was given a question on what the method gives Linux time and the answer was getTime(). Although the word "method" s

[2022-07-01 21:02] erictleung opened #74 "Return answer given by user after answer submission"
When you finish a quiz question, the model returns your score and the correct answer.

However, at times, a user could be confident in their answer but end up getting their answer marked wrong and wonder what they initially put.

One thing to consider is the added room need to show this information, which would crowd the screen a bit more.

I'd imagine a solution would be something like:

[2022-07-02 02:08] jdwilkin4 opened #77 "Add pre-commit hook for lint and formatting"
Since this project recently added linting and formatting I think it would be nice to add a pre-commit hook.

https://prettier.io/docs/en/precommit.html

[2022-07-02 02:43] jdwilkin4 commented on #74
I think this would work even if the answer was long like this
<img width="553" alt="Screen Shot 2022-07-01 at 7 42 55 PM" src="https://user-images.githubusercontent.com/67210629/176983807-9a9210a5-0c1c-4cbe-a3d5-99082efa531c.png">

Most of the answer aren't that long. And for the ones that are, the modal is large enough to accommodate the extra content IMO.

[2022-07-02 02:53] jdwilkin4 commented on #73
Some context on where most of these questions came from.
When the Learn to code RPG was coming out, there were several excel files for different categories of questions. (HTML, CSS, JavaScript)
Since there was a short turn around to build the site and release it, we just compiled all of these questions into one JSON file.

There were talks about adding prefixes to the questions after the initial l

[2022-07-04 19:19] #74 closed

[2022-07-10 01:15] jdwilkin4 opened #83 "Convert images to webp format"
**Describe the issue**
I was running a lighthouse audit on the page and our performance score was taking a hit because of the home page images.
We are currently using png's but if we converted those images to webp formats then our performance score would improve.

**Acceptance criteria**

- [ ] Replace the `src/images/background.png` with the new `src/images/background.webp`
- [ ] Replace the `src

[2022-07-11 07:26] #83 closed

[2022-07-12 08:35] ieahleen opened #85 "Homepage design issues"
I went to the homepage and I was presented with this:

![image](https://user-images.githubusercontent.com/26656284/178447082-450ca5c7-3337-4dbf-b8a8-bba6345a7cb5.png)

Possible causes: I have an higer default font-size.

![image](https://user-images.githubusercontent.com/26656284/178447271-728560e8-8e77-4f2d-a818-be90f19fefca.png)

(It's the "Big" or "Large" setting, don't know how it is in Englis

[2022-07-12 18:40] jdwilkin4 commented on #85
Yes, that was the cause.
I was able to replicate this issue by temporally changing the font size settings
<img width="781" alt="Screen Shot 2022-07-12 at 11 39 10 AM" src="https://user-images.githubusercontent.com/67210629/178569694-d1f38378-f602-4248-8c7e-390df6432fdc.png">

[2022-07-14 05:03] erictleung commented on #17
Some places to get questions from:

- https://www.edureka.co/blog/interview-questions/sql-interview-questions
- https://www.geeksforgeeks.org/sql-interview-questions/
- https://intellipaat.com/blog/interview-question/sql-interview-questions/
- https://mindmajix.com/sql-interview-questions
- https://www.toptal.com/sql/interview-questions

[2022-07-14 05:36] jdwilkin4 commented on #17
Hi @erictleung !

Even though these are respected tech blogs, we do also have to remember that we are competing with them in terms of google search rankings.
The goal is to have our projects promote our publication articles, youtube videos or official documentation over competing publications.
There is nothing wrong with those tech sites, but we also don't want to be providing them with more traff

[2022-07-14 18:28] erictleung commented on #17
@jdwilkin4 makes sense, thanks! That makes sense. I was thinking it is a place to get ideas for questions, but definitely link to freeCodeCamp resources when possible :+1:

[2022-07-14 19:36] #85 closed

[2022-07-31 15:06] a2937 opened #93 "Enhancement: Test the question format"
I would like permission to test to see if the questions contain all the necessary data and if it is readable. Testing everything is generally important and I have enjoyed doing it for a side project for someone else.

[2022-07-31 18:43] a2937 opened #94 "Enchancement: Question number at the top"
I was wondering if the question number can go up into the h1 heading as some of the questions are a little longer and it stretches across the entire screen; while the actual question goes into a paragraph tag below it.

[2022-08-01 00:16] jdwilkin4 commented on #94
You are suggested this type of change?
<img width="1239" alt="Screen Shot 2022-07-31 at 5 15 56 PM" src="https://user-images.githubusercontent.com/67210629/182051458-9fadc5d6-bff5-4815-8e40-03ceb0119268.png">

[2022-08-01 00:17] jdwilkin4 commented on #93
Not sure what you mean by readable?
Can you explain more on that?
Thanks 👍

[2022-08-01 00:51] a2937 commented on #93
Basically I wanna ensure each question can be parsed.

E.g Something like

[code]

[2022-08-01 00:55] a2937 commented on #94
Not quite.

![What I actually mean](https://i.imgur.com/T8O6XUN.png)

[2022-08-01 00:58] a2937 commented on #29
I wanna update an distraction answer to be "Friend Function" instead of "Friend functiom" ; as soon as I can think of an proper question involving template strings.

[2022-08-01 01:04] a2937 commented on #94
This is more along what I actually meant. Question in a text-centered paragraph tag while the actual question number is the heading.

[2022-08-01 01:34] jdwilkin4 commented on #94
The font size for the question should be a little bit larger than the `Questions:1/10` and `Points` text.
Since the question holds more importance then the `Questions:1/10` and `Points` text, it should stand out a little bit more.
Maybe you can play around with the `rem/em` values to increase the size.

[2022-08-01 01:35] jdwilkin4 commented on #93
sure, that would be fine 👍

[2022-08-02 15:11] a2937 commented on #93
I have an issue with this question:

https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/68240da03236e6309f214050295d06b989b7713f/src/data/full-quiz.ts#L73-L83

There is a question with the property "Diatractor3" instead of "Distractor3". Should I put this into the same pull request as my test or fix it separately?

[2022-08-03 00:35] #93 closed

[2022-09-16 18:57] jdwilkin4 commented on #94
Hi @a2937 !

If you are still in interested in working on this, we will keep this open with your name assigned to it.
Otherwise, you can close this issue if you are no longer interested.

[2022-09-16 19:23] a2937 commented on #94
I'll be happy to work on it.

[2022-09-16 19:47] jdwilkin4 opened #100 "chore: add issue templates"
In preparation for Hacktoberfest, we should add issue templates so future contributors can provide as much detail for the changes they wish to make to the codebase.

Proposed templates:

- [x] bug template
- [x] feature request template
- [x] docs template

[2022-09-16 20:03] #100 closed

[2022-09-16 20:06] jdwilkin4 opened #102 "Adding quality assurance and testing questions"
[developerquiz.org](developerquiz.org) currently has over 600 quiz questions. We are looking to expand on the Quality Assurance and testing questions and we encourage other developers to add their quiz questions to the site.

**Please note: we are focusing on general testing concepts and not on a specific framework**

You can find the complete list of questions below.
https://github.com/freeCodeCa

[2022-09-16 20:42] jdwilkin4 opened #103 "Adding Agile questions to quiz site"
### What general issue would you like to create?

[developerquiz.org](developerquiz.org) currently has over 600 quiz questions. We are looking to expand on the agile  questions and we encourage other developers to add their quiz questions to the site.

You can find the complete list of agile questions below.
https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/src/data/agile-quiz.ts

You

[2022-09-16 20:46] jdwilkin4 opened #104 "Adding Security questions to quiz site"
### What general issue would you like to create?

[developerquiz.org](developerquiz.org) currently has over 600 quiz questions. We are looking to expand on the security  questions and we encourage other developers to add their quiz questions to the site.

You can find the complete list of security questions below.
https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/src/data/security-quiz

[2022-09-18 20:04] #94 closed

[2022-09-20 15:34] Aman0786-git commented on #29
@jdwilkin4 Hello Sir I have added two CS quiz questions , Can you please help me out I am not able to do pull request.
This is my first open source contribution.Thank You

[2022-09-20 15:36] Aman0786-git commented on #29
@jdwilkin4  Hello Ma'am I have added two CS quiz questions .I had pushed the changes but can you please help me out with pull request.
This is my first open source contribution.Thank You.

[2022-09-20 15:54] jdwilkin4 commented on #29
Hi @Aman0786-git !

I think it would be best if you post your question, with the results you are getting in the terminal in the freeCodeCamp forum so we can get a better idea of what the issue is. We will be able to better assist you there.

https://forum.freecodecamp.org/

[2022-09-20 16:04] jdwilkin4 commented on #29
@Aman0786-git

You can also read through this helpful article on how to create pull requests
https://opensource.com/article/19/7/create-pull-request-github

[2022-09-28 11:20] jdwilkin4 opened #120 "[Docs] - Update README with new categories"
### What changes would you like to make in the documentation?

We recently added some new quiz categories which means our README needs to be updated.
Here is the README file: https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/README.md

Here is what the current README categories section looks like
[code]

Please update the categories section of the README to include these new categories

[2022-09-28 11:28] codewithnadeem14502 commented on #120
hello sir/mam, i want to contribute to it, can you assign me this issue and i am completely new to open source

[2022-09-28 11:31] jdwilkin4 commented on #120
Hi @Mustafa-Azad025 !

I have assigned it to you since you replied first.

[2022-09-28 11:33] jdwilkin4 commented on #120
HI @codewithnadeem14502 !

This issue has been assigned.
But we do have 8 other issues open, that are very beginner friendly if you are still interested in contributing.

[2022-09-28 12:48] codewithnadeem14502 commented on #120
but mam , i have raise the PR please check it

[2022-09-28 13:06] jdwilkin4 commented on #120
@codewithnadeem14502

I understand and have seen your PR but @Mustafa-Azad025 did reply first and was assigned this issue.
There will be more beginner issues added later on plus we do have 8 beginner friendly issues already open that will remain open for multiple contributors.

[2022-09-28 13:38] Mustafa-Azad025 commented on #120
Thanks mam , i will update and raise PR till night and
will you merge at 1st oct to avail benifit of hacktoberfest?

[2022-09-28 13:47] jdwilkin4 commented on #120
@Mustafa-Azad025
If you add the DO NOT MERGE  label on your PR, and leave a comment on your PR about hacktoberfest then I can wait to merge it till October 1st.

[2022-09-28 13:57] Mustafa-Azad025 commented on #120
oh ,
i haven't read it 😥

[2022-09-28 13:59] jdwilkin4 commented on #120
I added the label for you

[2022-10-01 09:38] Mustafa-Azad025 commented on #120
Hey @jdwilkin4 ,
Please Merge Pull Request Of This .

[2022-10-01 15:08] #120 closed

[2022-10-02 11:49] raykotab commented on #17
Hi! I am trying to make my first contribution and I wonder:
Would a question about the NOW() SQL function be appropriate or too advanced in this case?

[2022-10-02 15:46] jdwilkin4 commented on #17
Hi @raykotab !

I think that question would work since the function returns the date and time.
I don't think it would be too advanced.

[2022-10-02 16:05] raykotab commented on #17
Wonderful! Then i'll try my luck with my first PR.

[2022-10-03 11:27] Ryukemeister opened #176 "[Bug] - Add a media query to the "Get started(it's free)" button"
### What bug did you find in the codebase?

- The size of the Get started button remains with a  width of 400px even for small screen devices having a width of 360px or 375px which is breaking the page.
-  The current screen looks like this

![Before](https://user-images.githubusercontent.com/86043008/193562904-b1915203-877d-4d15-a42a-074f0d81bc7a.jpg)

- I'd like to add a media query to the butto

[2022-10-03 13:26] jdwilkin4 commented on #176
HI @Ryukemeister !

Thank you for brining up this bug.

If you are interested in working on this issue, then we can assign it to you. Otherwise we can open up this issue to other contributors.

[2022-10-03 14:57] Ryukemeister commented on #176
Hi @jdwilkin4, yes I'd like to work on this issue. Please assign it to me.

[2022-10-04 02:39] ariyonaty opened #189 "Create local Docker deployment option for contributors"
Given the industry's rising trend towards a microservices architecture, along with containerization and cloud computing, I believe the option for contributors to test their changes through Docker would be beneficial.

Proposed changes would include:
- Adding a Dockerfile to the repo
- Updating relevant documentation (i.e.: CONTRIBUTING.md) with instructions on how to use said Dockerfile

If approv

[2022-10-04 06:57] suryakapurothu commented on #104
Hello @jdwilkin4
I'm new here and curious to make a good contribution
Found this repo easy to help
Do I need to be assigned on this?
Or am I good to fork it and work on?

Please help @jdwilkin4

[2022-10-04 08:23] isurumaldeniya commented on #104
@suryakapurothu No need to be assigned. You can fork it and add new question and send PR for merge.

[2022-10-04 08:32] suryakapurothu commented on #104
@isurumaldeniya
[](https://github.com/freeCodeCamp/Developer_Quiz_Site/pull/194)
This is my first PR.
Can you please advise and guide me?
Have I done it the right way?
Anything else that I can improve upon?

[2022-10-04 08:32] suryakapurothu commented on #104
[https://github.com/freeCodeCamp/Developer_Quiz_Site/pull/194](url)

[2022-10-04 08:37] isurumaldeniya commented on #104
@suryakapurothu Hi I am also new to open source contribution. Let's learn together 😊🙌. One issue I found in your PR is you have changed the others' code (dunno whether it happens due to formatting). It is better if you can just add your code part and don't do any changes on others' codes if there is no issue in them.  Other than that, I don't find any issue in your PR. Happy Coding!😄

[2022-10-04 08:39] suryakapurothu commented on #104
@isurumaldeniya How does one know if they are changing someone else's code?
Please elaborate.

[2022-10-04 08:45] isurumaldeniya commented on #104
@suryakapurothu If you go to your pull request, there is a tab called **Files Changed**. There you can identify the changes you have done to the file.

[2022-10-04 08:49] GulabSinghSikarwar commented on #104
Hey Everyone, I want to work on this issue and have already prepared and made changes in my local repo,  so now how should I proceed further to contribute to this issue?   It would be really helpful if anyone could guide me.

[2022-10-04 08:49] suryakapurothu commented on #104
@isurumaldeniya
I didn't make all the changes it shows.
I'm sure of it.
Is it not showing all the changes made by multiple users?

[2022-10-04 08:57] isurumaldeniya commented on #104
Hi Gulab,
After making changes you can create a new branch and commit those changes to that branch. And after you push those changes to the github in your forked repo you can see the changes. Then you can send a pull request to the main repo from you branch.

1. make changes to you local repo(add new questions)
2. `git checkout -b <branch-name>`  -- this will create a new branch for you in your lo

[2022-10-04 08:58] isurumaldeniya commented on #104
@suryakapurothu 😄 No worries. Just make sure there are no such changes when you send PR in the future. I think this is most probably due to formatting the code.

[2022-10-04 09:26] GulabSinghSikarwar commented on #104
thanks buddy, for help, but when I am pushing my code and comparing it  is showing   ' there isn't anything to compare '

[2022-10-04 09:29] isurumaldeniya commented on #104
@GulabSinghSikarwar Did you commit your changes ?

[2022-10-04 09:30] GulabSinghSikarwar commented on #104
@isurumaldeniya  Yes

[2022-10-04 09:58] isurumaldeniya commented on #104
@GulabSinghSikarwar did you see your newly created branch in your forked repository?

[2022-10-04 10:16] GulabSinghSikarwar commented on #104
yes

[2022-10-04 10:59] isurumaldeniya commented on #104
@GulabSinghSikarwar if you follow the steps correctly, you should see the changes you have done locally in the repository in GitHub. 🤔 post some screenshots, maybe we can try and figure something thing out.

[2022-10-04 11:54] GulabSinghSikarwar commented on #104
![image](https://user-images.githubusercontent.com/94665834/193813137-78bff69e-f9e0-4397-a06f-3a90275ec146.png)

[2022-10-04 11:58] GulabSinghSikarwar commented on #104
![image](https://user-images.githubusercontent.com/94665834/193813695-b178c0ae-8f43-4db9-a1b0-0c864bba3b5a.png)

[2022-10-04 11:59] GulabSinghSikarwar commented on #104
on pushing code  and comparing
![image](https://user-images.githubusercontent.com/94665834/193813929-e5b5525b-7502-42ff-b3d3-b12207f80122.png)

[2022-10-04 13:31] jdwilkin4 commented on #104
HI @GulabSinghSikarwar !

I looked at your forked repo and your branch has two empty commits.
But also your folder structure looks very different than it should in your branch so that is probably why you are having issues.
<img width="431" alt="Screen Shot 2022-10-04 at 6 29 20 AM" src="https://user-images.githubusercontent.com/67210629/193832100-5e44cb52-d141-43a2-b35d-34fb0e02f208.png">

I would

[2022-10-04 13:44] suryakapurothu commented on #15
Hey @Still11,
A wonderful question there.
If you need help creating a PR for the same, we can team up and work on things.

[2022-10-04 22:15] GulabSinghSikarwar commented on #104
Thank You  everyone for Supoorting  and provideing help , finally ! i  resolved it  and  have create a PR
https://github.com/freeCodeCamp/Developer_Quiz_Site/pull/201

[2022-10-05 00:52] #189 closed

[2022-10-05 06:42] GulabSinghSikarwar commented on #17
@jdwilkin4  , I have added a few SQL questions. for this issue  https://github.com/freeCodeCamp/Developer_Quiz_Site/pull/203,

[2022-10-05 12:21] #176 closed

[2022-10-05 17:53] GulabSinghSikarwar commented on #103
Added Agile Questions  https://github.com/freeCodeCamp/Developer_Quiz_Site/pull/213

[2022-10-05 19:06] GulabSinghSikarwar commented on #16
Added Few Linux Questions  https://github.com/freeCodeCamp/Developer_Quiz_Site/pull/215

[2022-10-06 05:40] atharvagarwal commented on #14
I would like to add questions about the Event Loop

[2022-10-06 13:32] nishtha53 commented on #14
@jdwilkin4 I want to add more questions please assign to me.

[2022-10-07 01:34] jdwilkin4 commented on #14
@nishtha53

This issue isn't going to be assigned to anyone.
This issue will remain open for anyone who wants to contribute.
Any issue marked with Help wanted or Good first issue is up for grabs.

[2022-10-07 04:38] nishtha53 commented on #14
okk thankyou

[2022-10-08 15:32] Ishukumarpathak commented on #17
Hello
loved to contribute on this repository.
Can you please assign me .

[2022-10-08 19:19] jdwilkin4 commented on #17
@Ishukumarpathak
This issue will not be assigned to anyone and will remain open for multiple contributors.
If you are interested in contributing, read through the contributing docs and create a PR with your questions 👍

[2022-10-09 08:47] YuriDevAT opened #260 "Adding Accessibility questions to quiz site"
### What feature would you like to see?

It would be great having accessibility questions on the quiz site to spread awareness on the importance of web accessibility.

[2022-10-09 10:29] anp-scp commented on #29
For the attribute "link", can we add link to Wikipedia articles?

[2022-10-09 16:25] jdwilkin4 commented on #260
Hi @YuriDevAT !

I think that would be a good idea.
Let me double check with Quincy to see if he is interested in adding this category now to both the quiz site and Learn to Code RPG game.

[2022-10-11 19:02] KmKalpana opened #303 "Adding ReactJS Quiz Questions"
### What feature would you like to see?

Hii, Can I add the quiz questions Regarding Reactjs.

[2022-10-12 00:22] jdwilkin4 commented on #303
Hi @KmKalpana !

At this time, we are not opening up questions for JavaScript libraries or frameworks.
We are mainly concerned with filling questions in the existing categories which will also be used in the Learn to Code RPG game.
Once we get healthy of amounts of questions across the board for the existing categories, then we will revisit the discussions on opening up to new categories and which

[2022-10-12 00:22] #303 closed

[2022-10-12 03:08] KmKalpana commented on #15
Hii, Can I contribute in the python quiz questions.

[2022-10-12 22:15] J-ell commented on #17
Is it possible to add multi-choice question? and if yes what is the format?

[2022-10-13 04:33] jdwilkin4 commented on #17
@J-ell

Well the website is already following a multiple choice format
<img width="900" alt="Screen Shot 2022-10-12 at 9 32 50 PM" src="https://user-images.githubusercontent.com/67210629/195502251-901f41a0-fb11-4780-b42b-915f9580421b.png">

Can you explain more on what you mean by multiple choice?

[2022-10-13 05:32] Sin-Sumit commented on #15
@jdwilkin4 what do you mean by distractors?

[2022-10-13 05:40] suryakapurothu commented on #15
@Sin-Sumit Distractors are options other thank the right answer that appear as choices under the question.
The imply that the corresponding items are incorrect answers for the question.

[2022-10-13 10:54] J-ell commented on #17
I mean questions with more than one answers. for example:
In git which of the following syntax is used to add changes to the staging area or indexed? select all that apply
(a) git add file.txt
(b) git add .
(c) git mv file.txt
(d) git add
where the answer is both a and b

[2022-10-13 14:33] Nikita0509 commented on #104
@jdwilkin4 Hii im a Newbie can u plz guide me, how can i make my first PR. I saw this issue and felt it is easy to get started with.

[2022-10-13 14:39] suryakapurothu commented on #104
@Nikita0509 I've started a week ago and trust me this is the right place for a headstart. @jdwilkin4 is a very great mentor.

I'll take this opportunity to let you know how you make your first PR:
Starting,
Create a fork of the freeCodeCamp repository in your local git.
This can be done using the button on the repo page post installing git locally.

[2022-10-13 18:00] jdwilkin4 commented on #14
If people have question about this issue, or questions in general on how to contribute, please use the [GitHub discussions area](https://github.com/freeCodeCamp/Developer_Quiz_Site/discussions).
It will be easier to track conversations over there 👍

[2022-10-13 18:01] jdwilkin4 commented on #15
If people have question about this issue, or questions in general on how to contribute, please use the [GitHub discussions area](https://github.com/freeCodeCamp/Developer_Quiz_Site/discussions).
It will be easier to track conversations over there 👍

[2022-10-13 18:03] jdwilkin4 commented on #16
If people have questions about this issue, or questions in general on how to contribute, please use the [GitHub discussions area](https://github.com/freeCodeCamp/Developer_Quiz_Site/discussions).
It will be easier to track conversations over there 👍

[2022-10-13 18:06] jdwilkin4 commented on #17
@J-ell

In that situation you would just write out "Both git add filename and git mv filename"

Our design doesn't support adding A), B), C) D) in front of the answers since we are just using buttons. 👍

[2022-10-13 18:06] jdwilkin4 commented on #17
If people have questions about this issue, or questions in general on how to contribute, please use the [GitHub discussions area](https://github.com/freeCodeCamp/Developer_Quiz_Site/discussions).
It will be easier to track conversations over there 👍

[2022-10-13 18:07] jdwilkin4 commented on #29
If people have questions about this issue, or questions in general on how to contribute, please use the [GitHub discussions area](https://github.com/freeCodeCamp/Developer_Quiz_Site/discussions).
It will be easier to track conversations over there 👍

[2022-10-13 18:08] jdwilkin4 commented on #102
If people have questions about this issue, or questions in general on how to contribute, please use the [GitHub discussions area](https://github.com/freeCodeCamp/Developer_Quiz_Site/discussions).
It will be easier to track conversations over there 👍

[2022-10-13 18:08] jdwilkin4 commented on #103
If people have questions about this issue, or questions in general on how to contribute, please use the [GitHub discussions area](https://github.com/freeCodeCamp/Developer_Quiz_Site/discussions).
It will be easier to track conversations over there 👍

[2022-10-13 18:09] jdwilkin4 commented on #104
If people have questions about this issue, or questions in general on how to contribute, please use the [GitHub discussions area](https://github.com/freeCodeCamp/Developer_Quiz_Site/discussions).
It will be easier to track conversations over there 👍

[2022-10-14 04:31] jdwilkin4 commented on #260
This category was approved.
I am going to close this issue and create a new one with details on how people can contribute accessibility quiz questions.

[2022-10-14 04:31] #260 closed

[2022-10-14 04:48] jdwilkin4 opened #374 "Add more web accessibility questions"
### What general issue would you like to create?

[developerquiz.org](developerquiz.org) currently has over 900+ quiz questions. We are looking to expand on the accessibility  questions and we encourage other developers to add their quiz questions to the site.

You can find the complete list of accessibility questions below.
https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/src/data/ac

[2022-10-14 04:54] jdwilkin4 commented on #374
If you are interested in contributing, please read through the [contributing documentation](https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/CONTRIBUTING.md) first.

If you have additional questions about this issue or need help with creating a PR, please open up a new discussion in the [Github discussions](https://github.com/freeCodeCamp/Developer_Quiz_Site/discussions) and people ca

[2022-10-14 04:55] jdwilkin4 commented on #104
For anyone interested in contributing, please read through the [contributing documentation](https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/CONTRIBUTING.md) first.

[2022-10-14 04:56] jdwilkin4 commented on #103
For anyone interested in contributing, please read through the [contributing documentation](https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/CONTRIBUTING.md) first.

[2022-10-14 04:56] jdwilkin4 commented on #102
For anyone interested in contributing, please read through the [contributing documentation](https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/CONTRIBUTING.md) first.

[2022-10-14 04:56] jdwilkin4 commented on #29
For anyone interested in contributing, please read through the [contributing documentation](https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/CONTRIBUTING.md) first.

[2022-10-14 04:56] jdwilkin4 commented on #17
For anyone interested in contributing, please read through the [contributing documentation](https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/CONTRIBUTING.md) first.

[2022-10-14 04:57] jdwilkin4 commented on #16
For anyone interested in contributing, please read through the [contributing documentation](https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/CONTRIBUTING.md) first.

[2022-10-14 04:57] jdwilkin4 commented on #15
For anyone interested in contributing, please read through the [contributing documentation](https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/CONTRIBUTING.md) first.

[2022-10-14 04:57] jdwilkin4 commented on #14
For anyone interested in contributing, please read through the [contributing documentation](https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/CONTRIBUTING.md) first.

[2022-10-14 14:27] YuriDevAT commented on #260
Thank you for your respond @jdwilkin4! Happy to hear that.

[2022-10-14 17:05] a2937 opened #388 "[Feature] - Tweet button located on the results page"
### What feature would you like to see?

I want to add to add button or link that allows the completer of the quiz to share their score on Twitter populated with the text "I just scored X% on the <quiz name> - try it yourself? <link>". I believe using Tweet intents would be the best avenue to go about this problem.

[2022-10-14 20:07] jdwilkin4 commented on #388
A couple of things to iron out and discuss

No.1: Let's change the wording for the tweet link
Right now it says "Share on Twitter?" but maybe we can try one of these other options.
- Tweet your quiz score
- Wanna tweet your quiz score?
or something along those lines that includes the words "quiz score"

Also, maybe we could incorporate the twiter icon somehow.
I like how they are using for the Lea

[2022-10-14 22:18] a2937 commented on #388
No.1: Let's change the wording for the tweet link

```Tweet your quiz score```

On it. I'm going to go for the first one. As for the Twitter bird icon; I think we can maybe use Font Awesome here if you aren't already. Or just use the Twitter logo image and display it either above or next to the text.

No.2: polishing the tweet message

As for the message wording;

I'll go with the first suggestion

[2022-10-14 22:23] jdwilkin4 commented on #388
That all sounds good to me 👍

[2022-10-14 23:03] a2937 commented on #388
I don't have a Twitter and will need someone else to check it out for me.

[2022-10-15 01:21] jdwilkin4 commented on #388
I can pull down your branch and test it out tomorrow with Twitter 👍

[2022-10-15 22:02] jdwilkin4 opened #399 "[Bug] - Missing answer for JavaScript question"
### What bug did you find in the codebase?

It looks like we have a missing answer for this JavaScript question.

<img width="1013" alt="Screen Shot 2022-10-15 at 2 50 46 PM" src="https://user-images.githubusercontent.com/67210629/196008886-27724162-4a35-45d1-bf3e-9c5cf2be3d4f.png">

I would also like to change the distractor options.

Here is the fix I am looking for.
[code]

This question is loc

[2022-10-15 22:13] lizwe-mac commented on #399
Hi @jdwilkin4 I'm interested in this FTO

[2022-10-15 22:16] jdwilkin4 commented on #399
The issue has been assigned to you. 👍

[2022-10-15 23:35] #388 closed

[2022-10-16 08:48] #399 closed

[2022-10-16 16:41] jdwilkin4 opened #416 "Refactor HeroSection component and styles"
There is some cleanup we should do for the `HeroSection` styling. If you are going to work on this issue, please make sure to address all of the following changes mentioned below.

Here are the files we will be changing
https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/src/components/HeroSection.tsx
https://github.com/freeCodeCamp/Developer_Quiz_Site/blob/main/src/stylesheets/HeroSecti

[2022-10-16 16:44] LeGrandMAG commented on #416
I would like to work on this issue. Would you mind assigning it to me?

[2022-10-16 16:45] jdwilkin4 commented on #416
The issue has been assigned 👍

[2022-10-17 03:21] #416 closed

[2022-10-17 16:01] a2937 opened #439 "[Feature] - Breakdown Score By Category in Results"
### What feature would you like to see?

I was hoping to add a modal on the results page to show the percentage of questions the user got right by category. It could potentially provide a great point of reference for what to study.

[2022-10-17 19:28] jdwilkin4 commented on #439
I think that would work well. Plus it matches what is already on the Learn to Code RPG game 👍

It is all yours

[2022-10-17 21:23] gerhynes opened #445 "[Feature] - Add .prettierrc"
### What feature would you like to see?

Developer_Quiz_Site currently has a .prettierignore but no .prettierrc.

There are some inconsistencies between the .prettierrcs of freeCodeCamp projects. For example, freeCodeCamp has no trailing commas, while chapter does.

I would suggest copying the .prettierrc from the [main freeCodeCamp repo](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/.pre

[2022-10-17 22:23] jdwilkin4 commented on #445
That's ok.
At the end of the day, each of the smaller projects like the quiz site and chapter are led by a few of the fcc team members and they can decide which formatting styles they wish.

[2022-10-18 20:44] gerhynes commented on #445
Thanks, Jessica. You're absolutely right. Reading this again, I sound way too prescriptive. Code style is obviously a matter for project maintainers to decide.

[2022-10-25 20:19] dostonnabotov opened #563 "[Feature] - Category Selection options"
### What feature would you like to see?

It would be cool if we could choose the category we want to practice depending on what skills we want to work on.

For example, if I want to practice JavaScript, I would select the category "JavaScript" and get all JavaScript-related quiz questions.

What do you think about this feature?

[2022-10-25 23:22] jdwilkin4 commented on #563
Hi @dostonnabotov !

This feature was brought up earlier on the in the development of the app but we were still light on questions for most categories. So that is why there was such a huge push for question contributions.

But Hacktoberfest has ushered in a lot of new questions. Once Hacktoberfest has commenced, then the core team can discuss which categories would be included in this new feature.

[2022-10-29 19:21] #563 closed

[2022-10-31 19:59] LeGrandMAG opened #622 "[Docs] - typo in javascript question"
### What changes would you like to make in the documentation?

The is a typo in the Javascript question about querySelector().
![image](https://user-images.githubusercontent.com/64711820/199099232-cfe25fb3-3080-4aaf-97fc-fa4e50c876dc.png)

Instead of "one of more", it should be "one or more"....

I would be glad to work on this issue.

[2022-10-31 20:07] jdwilkin4 commented on #622
I assigned the issue to you.
But I also added a title for this issue.
When creating issues, it is important to always include a title so we know the context.

[2022-10-31 22:27] #439 closed

[2022-11-01 20:04] #622 closed

[2022-11-01 20:08] #14 closed

[2022-11-01 20:08] #15 closed

[2022-11-11 16:53] a2937 opened #632 "[Feature] - Spell checking for the data files"
### What feature would you like to see?

We are going to be using spellchecker-cli with husky to check to see if all the words are spelled correctly prior to committing. I don't know if there are any remaining flaws in their dependencies' or dependencies' dependencies but I will keep my eyes peeled.

[2022-11-20 22:04] a2937 commented on #632
Can we put this on hold till the developers behind Spell-checker CLI fix their punctuation issue?

[2022-11-21 16:51] jdwilkin4 commented on #632
Sure. You can just close the draft PR you have and then open it again later.